@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gris1: #96938c;
  --negro1: #000000;
  --white1: #fcf7eb;
  --fondoT: hsla(274, 100%, 1%, 0.827);
  --azulSTE: #004b7d;
  --azulT: #004b7dcb;

}

.Theme1{
  background-color: var(--azulSTE);
  color: var(--white1);
}

/*Hover ==========================================*/
.BoxShine:hover{
  box-shadow: 0 0 10px var(--white1), 0 0 20px var(--white1);
  color: var(--white1);
  transition-duration: 0.1s;
}
.Bigger:hover{
  transform: scale(1.1);
  transition-duration: 0.1s;
}


/*Fuentes =========================================*/
@font-face {
  font-family: 'Audiowide';
  src: url('/fonts/Audiowide.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.Audiowide {
  font-family: 'Audiowide';
}

@font-face {
  font-family: "Orbitron";
  src: url('/fonts/Orbitron.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.Orbitron {
  font-family: 'Orbitron';
}

@font-face {
  font-family: 'ShareTechMono';
  src: url('/fonts/ShareTechMono.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.ShareTechMono {
  font-family: 'ShareTechMono';
}
@font-face {
  font-family: "OdibeeSans";
  src: url('/fonts/OdibeeSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.OdibeeSans {
  font-family: 'OdibeeSans';
}

/*Otros ==========================================*/
